body{
  font-family: verdana;
  margin: 0;
  padding: 0;
}
/* Instructions page */
.arrow{
    color: blue;
    font-size: 1.5em;
  }
  .instructionspage{
    padding-left: 5em;
    padding-right: 5em;
    text-align: justify;
  }
  .title1{
    font-size: 1.5em;
    background-color: whitesmoke;
    padding: 1.5em;
  }
  .title2{
    text-align: center;
  }
  .title3{
    text-decoration: underline;
    font-weight: 400;
  }
  #symbols li{
    display: flex;
    margin: 1em 0;
  }
  .btndiv{
    display: flex;
    justify-content: center;
    margin: 2em;
  }
  .btn{
    width: 30vw;
    text-align: center;
    background-color: rgb(79, 224, 79);
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px;
  }
  .btn:hover{
    cursor: pointer;
    background: green;
  }
  #warning1{
    height: 30vh;
    width: 40vw;
    text-align: center;
    background-color: antiquewhite;
    padding-top: 3em;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #warning1 button{
    background-color: rgb(72, 197, 72);
    color: white;
    cursor: pointer;
    width: 4em;
    height: 3em;
    border: none;
    font-weight: bold;
  }
  /* Question Page */
  .questions-head{
    font-size: 1em;
    background-color: whitesmoke;
    padding: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
  }
  .profilepic img{
      width: 5em;
      margin: 0 1em;
  }
  .questionbody{
    display: flex;
    width: 95vw;
  }
  .head-info{
      color: orange;
      font-weight: bold;
  }
  #instructions{
    text-align: justify;
    padding: 1em;
  }
  #questions-img img{
      max-width: 50vw;
      height: auto;
  }
  #timer{
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: Verdana;
    padding: 0 15px;
    border-radius: 10px;
  }
  #category{
    margin: 0 1em;
  }
  #category button{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  #category button:hover{
    background: greenyellow;
  }
  .radio{
    margin-left: 5em;
  }
  .leftpanel{
    width: 70vw;
    padding: 0 6em;
  }
  #right-panel{
    width: 30vw;
    padding: 1em;
    background-color: wheat;
  }
  @media (max-width: 450px){
    .questions-head{
      width: 100vw;
    }
    .questionbody{
      display: flex;
      flex-direction: column;
    }
    .leftpanel{
      width: 100vw;
      padding: 1em 1em;
    }
    #right-panel{
      width: 100vw
    }
    .tagboard{
      width: 100vw;
    }
    #number-board{
      width: 90vw;
      height: 50vh;
      overflow: auto;
      background-color: beige;
    }
    #input-field{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #input-field input{
      max-width: 90vw;
    }   
    #questions-img img{
      max-width: 90vw;
      height: auto;
  } 
  .radio{
    margin-left: 2em;
  }
  }
  #save-btn{
    background: rgb(52, 221, 52);
    color:white;
    font-weight: bold;
    text-align: center;
    border: none;
    width:fit-content;
    padding: 0.6em 1em;
  }
  #clear-btn{
    font-weight: bold;
    text-align: center;
    width:fit-content;
    padding: 0.5em 1em; 
  }
  #save-review-btn{
    background: orange;
    color:white;
    font-weight: bold;
    text-align: center;
    border: none;
    width:fit-content;
    padding: 0.6em 1em;
  }
  #next-review-btn{
    background: blue;
    color:white;
    font-weight: bold;
    text-align: center;
    border: none;
    width:fit-content;
    padding: 0.6em 1em;
  }
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  #input-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  #input-field input{
    max-width: 200px;
    height: 30px;
  }
  #key-pad{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  td button{
    height: 30px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-family: verdana;
    border: 1px solid black;
  }
  td button:hover{
    color: white;
    background: grey;
    cursor: pointer;
  }
  #btn-group-save{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 1em;
  }
  #btn-group-save button:hover{
    cursor: pointer;
  }
  .tagboard{  
    padding: 0.5em;
  }
  
  .tagboard ul{
      display: flex;
  }
  .tagboard ul li{
      list-style: none;
      margin: 0 5px;
  }
  .tagboard>ul>li>div{
    font-family: verdana;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .notvisited{
    width: 2.4em;
    height: 2.4em;
    border: 0.25px solid grey;
    background: linear-gradient(180deg, rgb(190, 185, 185), white);
    border-radius: 5px;
    text-align: center;
  }
  .notanswered{
    width: 2.5em;
    height: 2.5em;
    border: none;
    background: red;
    border-radius: 5px;  
    text-align: center;
    color: white;
  }
  .answered{
    width: 2.5em;
    height: 2.5em;
    border: none;
    background: rgb(52, 221, 52);
    border-radius: 5px;
    text-align: center;
    color: white;
  }
  .review{
    width: 2.5em;
    height: 2.5em;
    border: none;
    background: blue;
    border-radius: 100px;
    text-align: center;
    color: white;
  }
  .ansNreview{
    width: 2.5em;
    height: 2.5em;
    border: none;
    background: indigo;
    border-radius: 100px;
    text-align: center;
    color: white;
  }
  #number-board{ 
    height: 50vh;
    overflow: auto;
    background-color: beige;
  }
  #number-board ul{
      display: flex;
      flex-wrap: wrap;
  }
  #number-board ul li{
      list-style: none;
      margin: 3px;
  }
  #number-board ul li:hover{
    cursor: pointer;
  }
  #number-list>li{
    font-family: verdana;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #scorelist img{
    max-width: 70vw;
    height: auto;
  }
  #scoreboard{
    margin-left: 5em;
  }
  #GoHome{
    width: 5em;
    height: 3em;
    background: red;
    color: white;
    border: none;
  }

