<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<%- include('./partials/boot.ejs') %>

<body>
<div id="Title">
    Welcome to Test Champ
</div>
<div id="mainBtnGroup">
    <h3>JEE MAINS</h3>
    <div class="btn-categories">
        <a href="/jeemains/jeemain2021s1">
            <button class="btn">2021 SHIFT-1</button>
        </a>
        <a href="/jeemains/jeemain2021s2">
            <button class="btn">2021 SHIFT-2</button>
        </a>
    </div>
    <h3>JEE ADVANCED</h3>
    <div class="btn-categories">
        <a href="/jeeadv/jeeadv2021paper1">
            <button class="btn">2021 Paper 1</button>
        </a>
        <a href="/jeeadv/jeeadv2021paper2">
            <button class="btn">2021 Paper 2</button>
        </a>
        <a href="/jeeadv/jeeadv2020paper1">
            <button class="btn">2020 Paper 1</button>
        </a>
        <a href="/jeeadv/jeeadv2020paper2">
            <button class="btn">2020 Paper 2</button>
        </a>
    </div>
    <h3>RRB PO</h3>
    <div class="btn-categories">
        <a href="/ibpsrrb/rrbClerkPrelims2020">
            <button class="btn">RRB Clerk Prelims 2020</button>
        </a>
    </div>
    <h3>RRB CLERICAL</h3>
    <div class="btn-categories">
        <a href="#">
            <button class="btn">JEE Advanced</button>
        </a>
    </div>
    <h3>IBPS PO</h3>
    <div class="btn-categories">
        <a href="#">
            <button class="btn">JEE Advanced</button>
        </a>
    </div>    
</div>

</body>
</html>