<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

  <body>
    <div class="questions-head">
      <div class="profilepic">
        <img src="../static/JEE_Mains/2021shift1/profilepic.png" alt="" />
      </div>
      <div class="profileinfo">
        Candidate Name: <span class="head-info">[Your Name]</span>
        <br />
        Exam Name :<span class="head-info">JEE-Adv-2021-paper1</span>
        <br />
        Subject Name:<span class="head-info"
          >40503627_BTECH 2021 SHIFT-1</span
        >
        <br />
        Remaining Time: <span id="timer"></span>
      </div>
    </div>
 
    <div id="questionDisplay">    
      <div id="questionbody" class="questionbody">
        <div id="left-panel" class="leftpanel">
          <div id="question-container">
            <div id="instructions"> 
              <p>This Section contains 4 questions. Each question has four options. <strong>ONLY ONE </strong>of these four optins is the correct answer. <br><strong>Marking scheme: +3 for correct answer, 0 if not attempted and -1 in all other cases.</strong></p>           
            </div>
            <div id="query">
              <h3>Question : <span id="question-num"></span></h3>
              <div id="questions-img"></div>
              <div id="radio-btn" class="">
                <input type="radio" name="option" class="radio" value="A" /><label
                  for="A"
                  >A</label
                >
                <input type="radio" name="option" class="radio" value="B" /><label
                  for="B"
                  >B</label
                >
                <input type="radio" name="option" class="radio" value="C" /><label
                  for="C"
                  >C</label
                >
                <input type="radio" name="option" class="radio" value="D" /><label
                  for="D"
                  >D</label
                >
                <input
                  type="radio"
                  name="option"
                  class="radio"
                  value="E"
                  checked
                  style="display: none"
                /><label for="E" style="display: none">5</label>
              </div>
  
              <div id="radio-btn2" class="hide">
                <input type="radio" name="A" class="radio2" value="A" /><label
                  for="A"
                  >A</label
                >
                <input type="radio" name="B" class="radio2" value="B" /><label
                  for="B"
                  >B</label
                >
                <input type="radio" name="C" class="radio2" value="C" /><label
                  for="C"
                  >C</label
                >
                <input type="radio" name="D" class="radio2" value="D" /><label
                  for="D"
                  >D</label
                >
              </div>
  
              <div id="input-response" class="hide">
                <div id="input-field">
                  <input
                    type="text"
                    placeholder="Enter your value"
                    id="input-value"
                  />
                </div>
                <div id="key-pad">
                  <table>
                    <tr>
                      <td><button class="num-pad-btn">1</button></td>
                      <td><button class="num-pad-btn">2</button></td>
                      <td><button class="num-pad-btn">3</button></td>
                    </tr>
                    <tr>
                      <td><button class="num-pad-btn">4</button></td>
                      <td><button class="num-pad-btn">5</button></td>
                      <td><button class="num-pad-btn">6</button></td>
                    </tr>
                    <tr>
                      <td><button class="num-pad-btn">7</button></td>
                      <td><button class="num-pad-btn">8</button></td>
                      <td><button class="num-pad-btn">9</button></td>
                    </tr>
                    <tr>
                      <td><button class="num-pad-btn">.</button></td>
                      <td><button class="num-pad-btn">0</button></td>
                      <td><button class="num-pad-btn">C</button></td>
                    </tr>
                  </table>
                </div>
              </div>
              <h4>Your response: <span id="response-display"></span></h4>
              <hr />
            </div>
          </div>
     
          <div id="btn-group-save">
            <button id="save-btn" onclick="saveNext()">SAVE &amp; NEXT</button>
            <button id="clear-btn" onclick="uncheck()">CLEAR</button>
            <button id="save-review-btn" onclick="saveReview()">
              SAVE &amp; MARK FOR REVIEW
            </button>
            <button id="next-review-btn" onclick="reviewNext()">
              MARK FOR REVIEW &amp; NEXT
            </button>
          </div>
        </div>
        <div id="right-panel" class="rightpanel">
          <div id="tag-board" class="tagboard">
            <ul>
              <li>
                <div class="notvisited" id="notvisitedCount">57</div>
              </li>
              <li>Not visited</li>
              <li>
                <div class="notanswered" id="notansweredCount">0</div>
              </li>
              <li>Not answered</li>
            </ul>
            <ul>
              <li>
                <div class="answered" id="answeredCount">0</div>
              </li>
              <li>Answered</li>
              <li>
                <div class="review" id="reviewCount">0</div>
              </li>
              <li>Marked for review</li>
            </ul>
            <ul>
              <li>
                <div class="ansNreview" id="ansNreviewCount">0</div>
              </li>
              <li>
                Answered &amp; Marked for Review (will be considered for
                evaluation)
              </li>
            </ul>
          </div>
          <div id="number-board">
            <ul id="number-list">
              <li onclick="gotoQuestion(1)" class="notanswered">1</li>
              <li onclick="gotoQuestion(2)" class="notvisited">2</li>
              <li onclick="gotoQuestion(3)" class="notvisited">3</li>
              <li onclick="gotoQuestion(4)" class="notvisited">4</li>
              <li onclick="gotoQuestion(5)" class="notvisited">5</li>
              <li onclick="gotoQuestion(6)" class="notvisited">6</li>
              <li onclick="gotoQuestion(7)" class="notvisited">7</li>
              <li onclick="gotoQuestion(8)" class="notvisited">8</li>
              <li onclick="gotoQuestion(9)" class="notvisited">9</li>
              <li onclick="gotoQuestion(10)" class="notvisited">10</li>
              <li onclick="gotoQuestion(11)" class="notvisited">11</li>
              <li onclick="gotoQuestion(12)" class="notvisited">12</li>
              <li onclick="gotoQuestion(13)" class="notvisited">13</li>
              <li onclick="gotoQuestion(14)" class="notvisited">14</li>
              <li onclick="gotoQuestion(15)" class="notvisited">15</li>
              <li onclick="gotoQuestion(16)" class="notvisited">16</li>
              <li onclick="gotoQuestion(17)" class="notvisited">17</li>
              <li onclick="gotoQuestion(18)" class="notvisited">18</li>
              <li onclick="gotoQuestion(19)" class="notvisited">19</li>
              <li onclick="gotoQuestion(20)" class="notvisited">20</li>
              <li onclick="gotoQuestion(21)" class="notvisited">21</li>
              <li onclick="gotoQuestion(22)" class="notvisited">22</li>
              <li onclick="gotoQuestion(23)" class="notvisited">23</li>
              <li onclick="gotoQuestion(24)" class="notvisited">24</li>
              <li onclick="gotoQuestion(25)" class="notvisited">25</li>
              <li onclick="gotoQuestion(26)" class="notvisited">26</li>
              <li onclick="gotoQuestion(27)" class="notvisited">27</li>
              <li onclick="gotoQuestion(28)" class="notvisited">28</li>
              <li onclick="gotoQuestion(29)" class="notvisited">29</li>
              <li onclick="gotoQuestion(30)" class="notvisited">30</li>
              <li onclick="gotoQuestion(31)" class="notvisited">31</li>
              <li onclick="gotoQuestion(32)" class="notvisited">32</li>
              <li onclick="gotoQuestion(33)" class="notvisited">33</li>
              <li onclick="gotoQuestion(34)" class="notvisited">34</li>
              <li onclick="gotoQuestion(35)" class="notvisited">35</li>
              <li onclick="gotoQuestion(36)" class="notvisited">36</li>
              <li onclick="gotoQuestion(37)" class="notvisited">37</li>
              <li onclick="gotoQuestion(38)" class="notvisited">38</li>
              <li onclick="gotoQuestion(39)" class="notvisited">39</li>
              <li onclick="gotoQuestion(40)" class="notvisited">40</li>
              <li onclick="gotoQuestion(41)" class="notvisited">41</li>
              <li onclick="gotoQuestion(42)" class="notvisited">42</li>
              <li onclick="gotoQuestion(43)" class="notvisited">43</li>
              <li onclick="gotoQuestion(44)" class="notvisited">44</li>
              <li onclick="gotoQuestion(45)" class="notvisited">45</li>
              <li onclick="gotoQuestion(46)" class="notvisited">46</li>
              <li onclick="gotoQuestion(47)" class="notvisited">47</li>
              <li onclick="gotoQuestion(48)" class="notvisited">48</li>
              <li onclick="gotoQuestion(49)" class="notvisited">49</li>
              <li onclick="gotoQuestion(50)" class="notvisited">50</li>
              <li onclick="gotoQuestion(51)" class="notvisited">51</li>
              <li onclick="gotoQuestion(52)" class="notvisited">52</li>
              <li onclick="gotoQuestion(53)" class="notvisited">53</li>
              <li onclick="gotoQuestion(54)" class="notvisited">54</li>
              <li onclick="gotoQuestion(55)" class="notvisited">55</li>
              <li onclick="gotoQuestion(56)" class="notvisited">56</li>
              <li onclick="gotoQuestion(57)" class="notvisited">57</li>
                     
            </ul>
          </div>
        </div>
      </div>
      <button onclick="scorecard()" id="save-btn">Submit</button>
    </div>
    

    <div id="scoreboard" class="hide">
      <h1>Your scorecard</h1>
      <p>Marks scored: <span id="marksDisplay"></span></p>
      <a href="/"><button id="GoHome">HOME</button></a>
      <div id="scorelist"></div>
    </div>
  </body>
  <script src="../static/jeeadv2021paper1.js"></script>
</html>
