<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> <%- include('./partials/boot.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1>Sign in</h1>
      <form action="/auth/login" method="POST">
        <section>
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="form-control"
          />
        </section>
        <section>
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="password"
            class="form-control"
            required
          />
        </section>
        <button class="btn btn-success" type="submit">Sign in</button>
      </form>
      <p>
        Not a User <br>
        <a href="/auth/register"
          ><button class="btn btn-primary">Register</button></a
        >
      </p>
    </div>
  </body>
</html>
