<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <div>
        <h2 class="title1">IBPS RRB CLERK PRELIMS 2020</h2>
    <div class="instructionspage">
        <div class="title2">
            <h2>
                Please read the instructions carefully
            </h2>
        </div>
        <h2 class="title3">General Instructions</h2>
        <ol>
            <li>The clock will be set at the server and the countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination. When the timer reaches zero, the examination will end by default - you will not be required to end or submit your examination.</li>
            <li id="symbols">The Questions Palette displayed on the right side of screen will show the status of each question using one of the following symbols:
                <ol>
                    <li> <div class="notvisited" id="notvisitedCount"></div> You have not visited the question yet.</li>
                    <li> <div class="notanswered" id="notansweredCount"></div>You have not answered the question.</li>
                    <li> <div class="answered" id="answeredCount"></div>You have answered the question.</li>
                    <li> <div class="review" id="reviewCount"></div> You have NOT answered the question, but have marked the question for review.</li>
                    <li> <div class="ansNreview" id="ansNreviewCount"></div> The question(s) &quot;Answered and Marked for Review&quot; will be considered for evalution.</li>
                </ol>
                The Marked for Review status simply acts as a reminder that you have set to look at the question again.<span style="color: red; font-style: italic"> If an answer is selected for a question that is Marked for Review, the answer will ne considered in the final evaluation.</span>
            </li>
        </ol>
        <h2 class="title3">Navigation to Question</h2>
        <ol start={3}>
            <li>
                To answer a question, do the following
                <ol type='a'>
                    <li>Click on the question number in the Question Palette at the right of your screen to go to that numbered question directly. Note that using this option does NOT save your answer to the current question.</li>
                    <li>Click on Save &amp; Next to save your answer for the current question and then go to the next question.</li>
                    <li>Click on Mark for Review &amp; Next to save your answer for the current question, mark it for review, and then go to the next question.</li>
                </ol>
            </li>
            <li>You can view the entire paper by clicking on the <strong>Question Paper</strong> button</li>
        </ol>
        <h2 class="title3">Answering a Question:</h2>
        <ol start={5}>
            <li>Procedure for answering a multiple choice type question:
                <ol type='a'>
                    <li>To select you answer, click on the button of one of the options.</li>
                    <li>To deselect your chosen answer, click on the button of the chosen option again or click on the Clear Response button</li>
                    <li>To change your chosen answer, click on the button of another option</li>
                    <li>To save your answer, you MUST click on the Save &amp; Next button.</li>
                    <li>To mark the question for review, click on the Mark for Review &amp; Next button.</li>
                </ol>
            </li>
            <li>To change your answer to a question that has already been answered, first select that question for answering and then follow the procedure for answering that type of question.</li>
            <li>Questions that are saved or marked for review after answering will ONLY be considered for evaluation.</li>
        </ol>
        <h2 class="title3">Navigating through sections:</h2>
        <ol start={8}>
            <li>Sections in this question paper are displayed on the top bar of the screen. Questions in a section can be viewed by click on the section name. The section you are currently viewing is highlighted.</li>
            <li>After click the Save &amp; Next button on the last question for a section, you will automatically be taken to the first question of the next section.</li>
            <li>You can shuffle between sections and questions anything during the examination as per your convenience only during the time stipulated.</li>
            <li>Candidate can view the corresponding section summery as part of the legend that appears in every section above the question palette.</li>
        </ol>
        <hr />
        <div class="btndiv">
            <a href="/rrbClerkPrelimsQuestions2020">
            <button class="btn" id="proceed">PROCEED</button>
            </a>
        </div>
     
    </div>
    </div>
    <script src="../static/jeemain2021shift1.js"></script>
</body>
</html>