@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins&display=swap');
#Title{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: indigo;
}
#mainBtnGroup h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: indigo;
}
#mainBtnGroup a{
    text-decoration:none;
}
.btn-categories{
    display: flex;
    justify-content: center;
}
#mainBtnGroup button{
    background: indigo;
    color: white;
    border: none;
    margin: 1em;
}
#mainBtnGroup button:hover{
    background: white;
    color: indigo;
    cursor: pointer;
    box-shadow: 0 0 2px indigo;
}
body{
    font-family: verdana;
    margin: 0;
    padding: 0;
  }
  /* Instructions page */
  .arrow{
      color: blue;
      font-size: 1.5em;
    }
    .instructionspage{
      padding-left: 5em;
      padding-right: 5em;
      text-align: justify;
    }
    .title1{
      font-size: 1.5em;
      background-color: whitesmoke;
      padding: 1.5em;
    }
    .title2{
      text-align: center;
    }
    .title3{
      text-decoration: underline;
      font-weight: 400;
    }
    .symbols li{
      display: flex;
      margin: 1em 0;
    }
    .btndiv{
      display: flex;
      justify-content: center;
      margin: 2em;
    }
    .btn{
      width: 30vw;
      text-align: center;
      background-color: rgb(79, 224, 79);
      color: white;
      font-weight: bold;
      border: none;
      padding: 15px;
    }
    .btn:hover{
      cursor: pointer;
      background: green;
    }
    #warning1{
      height: 30vh;
      width: 40vw;
      text-align: center;
      background-color: antiquewhite;
      padding-top: 3em;
      z-index: 10;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #warning1 button{
      background-color: rgb(72, 197, 72);
      color: white;
      cursor: pointer;
      width: 4em;
      height: 3em;
      border: none;
      font-weight: bold;
    }
    /* Question Page */
    .questions-head{
      font-size: 1em;
      background-color: whitesmoke;
      padding: 1.5em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
    }
    .profilepic img{
        width: 5em;
        margin: 0 1em;
    }
    .questionbody{
      display: flex;
      width: 95vw;
    }
    .head-info{
        color: orange;
        font-weight: bold;
    }
    #instructions{
      text-align: justify;
      padding: 1em;
    }
    #questions-img img{
        max-width: 50vw;
        height: auto;
    }
    #timer{
      background-color: red;
      color: white;
      font-weight: bold;
      font-family: Verdana;
      padding: 0 15px;
      border-radius: 10px;
    }
    #category{
      margin: 0 1em;
    }
    #category button{
      background-color: blue;
      color: white;
      border: none;
      cursor: pointer;
    }
    #category button:hover{
      background: greenyellow;
    }
    .radio, .radio2{
      margin-left: 5em;
    }
    .leftpanel{
      width: 70vw;
      padding: 0 6em;
    }
    #right-panel{
      width: 30vw;
      padding: 1em;
      background-color: wheat;
    }
    #question-container{
      height: 75vh;
      overflow: auto;
    }
    @media (max-width: 450px){
      .questions-head{
        width: 100vw;
      }
      .questionbody{
        display: flex;
        flex-direction: column;
      }
      .leftpanel{
        width: 100vw;
        padding: 1em 1em;
      }
      #right-panel{
        width: 100vw
      }
      .tagboard{
        width: 100vw;
      }
      #number-board{
        width: 90vw;
        height: 50vh;
        overflow: auto;
        background-color: beige;
      }
      #input-field{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      #input-field input{
        max-width: 90vw;
      }   
      #questions-img img{
        max-width: 90vw;
        height: auto;
    } 
    .radio, .radio2{
      margin-left: 2em;
    }
    }
    #save-btn{
      background: rgb(52, 221, 52);
      color:white;
      font-weight: bold;
      text-align: center;
      border: none;
      width:fit-content;
      padding: 0.6em 1em;
    }
    #clear-btn{
      font-weight: bold;
      text-align: center;
      width:fit-content;
      padding: 0.5em 1em; 
    }
    #save-review-btn{
      background: orange;
      color:white;
      font-weight: bold;
      text-align: center;
      border: none;
      width:fit-content;
      padding: 0.6em 1em;
    }
    #next-review-btn{
      background: blue;
      color:white;
      font-weight: bold;
      text-align: center;
      border: none;
      width:fit-content;
      padding: 0.6em 1em;
    }
    .hide{
      display: none;
    }
    .show{
      display: block;
    }
    #input-field{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px;
    }
    #input-field input{
      max-width: 200px;
      height: 30px;
    }
    #key-pad{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    td button{
      height: 30px;
      width: 50px;
      text-align: center;
      font-weight: bold;
      font-family: verdana;
      border: 1px solid black;
    }
    td button:hover{
      color: white;
      background: grey;
      cursor: pointer;
    }
    #btn-group-save{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1em;
    }
    #btn-group-save button:hover{
      cursor: pointer;
    }
    .tagboard{  
      padding: 0.5em;
    }
    
    .tagboard ul{
        display: flex;
    }
    .tagboard ul li{
        list-style: none;
        margin: 0 5px;
    }
    .tagboard>ul>li>div{
      font-family: verdana;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .notvisited{
      width: 2.4em;
      height: 2.4em;
      border: 0.25px solid grey;
      background: linear-gradient(180deg, rgb(190, 185, 185), white);
      border-radius: 5px;
      text-align: center;
    }
    .notanswered{
      width: 2.5em;
      height: 2.5em;
      border: none;
      background: red;
      border-radius: 5px;  
      text-align: center;
      color: white;
    }
    .answered{
      width: 2.5em;
      height: 2.5em;
      border: none;
      background: rgb(52, 221, 52);
      border-radius: 5px;
      text-align: center;
      color: white;
    }
    .review{
      width: 2.5em;
      height: 2.5em;
      border: none;
      background: blue;
      border-radius: 100px;
      text-align: center;
      color: white;
    }
    .ansNreview{
      width: 2.5em;
      height: 2.5em;
      border: none;
      background: indigo;
      border-radius: 100px;
      text-align: center;
      color: white;
    }
    #number-board{ 
      height: 50vh;
      overflow: auto;
      background-color: beige;
    }
    #number-board ul{
        display: flex;
        flex-wrap: wrap;
    }
    #number-board ul li{
        list-style: none;
        margin: 3px;
    }
    #number-board ul li:hover{
      cursor: pointer;
    }
    #number-list>li{
      font-family: verdana;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #scorelist img{
      max-width: 70vw;
      height: auto;
    }
    #scoreboard{
      margin-left: 5em;
    }
    #GoHome{
      width: 5em;
      height: 3em;
      background: red;
      color: white;
      border: none;
    }
  
  /* ********************************** */
  /* **********IBPS RRB**************** */
  /* ********************************** */
  #declaration{
    height: 100vh;
    width: 100vw;
  }
  #test-name{
    font-weight: bold;
    padding: 0.2em 2em;
    border-bottom: 2px solid black;
    display: flex;
  }
  #declaration-body{
    padding: 2em 1em;
    margin-right: auto;
    margin-left: auto;
  }
  #declaration-body>ol>li{
    margin: 1em;
    color: #000040
  }
  #declaration-body table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
  }
  #choose-lang{
    margin: 3.5em 2em;
  }
  #preBtn{
    color: rgb(104, 101, 101);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5em;
    background: white;
    margin: auto 1em;
  }
  #preBtn:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
  }
  #prev-btn-check{
    margin: 0.5em 2em;
  }
  #ready{
    text-align: center;
    background: rgb(28, 147, 163);
    color: white;
    font-weight: bold;
    padding: 1em;
  }
  #ready:hover{
    cursor: pointer;
    background: blue;
  }

  /* <<<<<<<<<<<<<<TestBody>>>>>>>>>>>>>>>>>> */
  #test-body{
    display: flex;
    height: 100vh;
  }
  #Qpaper-nav{
    font-weight: bold;
    padding: 0.2em 2em;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #Qpaper-nav button{
    color: blue;
    background: white;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px 10px;
    margin: auto 0.5em;
    font-weight: bold;
  }
  #Qpaper-nav button:hover{
    color: white;
    background: blue;
    cursor: pointer;
  }
  #left{
    width: 70vw;
  }
  #section-tabs{
    padding-left: 2em;
  }
  #section-tabs button{
    padding: 0.5em;
    background: rgb(101, 101, 240);
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    margin: auto 1em;
  }
  #test-page{
    position: relative;
  }
  #question-num{
    padding: 1em 0 1em 2em;
    background-color: rgb(226, 215, 215);
  } 
  #direction-option{
    display: flex;
    height: 63vh;
    overflow: auto;
    border-bottom: 1px solid rgb(226, 215, 215);
  }
  #direction{
    width: 60%;
    padding: 0.5em 2em;
    border-right: 1px solid rgb(226, 215, 215);
  }
  #questionImage img{
    max-width: 100%;
    height: auto
  }
  #responses{
    width: 40%;
    padding: 0.5em 2em;
  }
  .radioLabels{
    height: 2em;
    width: 80%;
    border: 1px solid rgb(226, 215, 215);
    border-radius: 5px;
    margin: 1em;
    padding: 0.75em;
  }
  .radioLabels:hover{
    cursor: pointer;
    box-shadow: 0 0 5px orange;
  }
  #question-btns{
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
  #clearNmark-btns button{
    background: white;
    border: 1px solid blue;
    color: blue;
    padding: 5px;
    border-radius: 5px;
  }
  #clearNmark-btns button:hover{
    cursor: pointer;
    color: white;
    background: blue;
  }
  #saveNnext-btn button{
    background: blue;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
  }
  #saveNnext-btn button:hover{
    cursor: pointer;
    color: blue;
    background: white;
    border: 1px solid blue;
  }
  #right{
    width: 30vw;
    border-left: 2px solid black;
  }
  #timer-nav{
    font-weight: bold;
    padding: 0.2em 2em;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75em;
  }
  #question-counter{  
    padding: 0.5em;
  }
  
  #question-counter ul{
      display: flex;
  }
  #question-counter ul li{
      list-style: none;
      margin: 0 5px;
  }
  #question-counter>ul>li>div{
    font-family: verdana;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .notvisited2{
    width: 2.2em;
    height: 2.2em;
    border: 0.15px solid grey;
    background: white;
    border-radius: 5px;
    text-align: center;
  }
  .notanswered2{
    width: 2.4em;
    height: 2.4em;
    border: none;
    background: red;
    border-radius: 0 0 25px 25px;  
    text-align: center;
    color: white;
  }
  .answered2{
    width: 2.4em;
    height: 2.4em;
    border: none;
    background: rgb(52, 221, 52);
    border-radius: 25px 25px 0 0;
    text-align: center;
    color: white;
  }
  .review2{
    width: 2.4em;
    height: 2.4em;
    border: none;
    background: blue;
    border-radius: 100px;
    text-align: center;
    color: white;
  }
  .ansNreview2{
    width: 2.4em;
    height: 2.4em;
    border: none;
    background: indigo;
    border-radius: 100px;
    text-align: center;
    color: white;
  }
  #section-title{
    background-color: beige;
    height: 2em;
    padding: 0.25em;
  }
  #question-palette{ 
    height: 52vh;
    overflow: auto;
    background-color: rgb(192, 226, 241);
  }
  #question-palette ul{
      flex-wrap: wrap;
  }
  #question-palette ul li{
      list-style: none;
      margin: 0.6em;
      font-family: verdana;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .display-flex{
    display: flex;
  }
  #question-palette ul li:hover{
    cursor: pointer;
  }

  #submit-btn{
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    margin: 0.5em 10%;
    font-weight: bolder;
    color: green;
    text-align: center;
    padding: 0.5em;
    width: 80%
  }
  #submit-btn:hover{
    cursor:pointer;
    color: white;
    background-color: green;
  }

  /* INSTRUCTIONS2 */
  #instructions2{
    height: 90vh;
    width: 90vw;
    margin-left:auto;
    margin-right: auto;
    position: absolute;
    z-index:10;
    top:5%;
    left: 5%;
    background-color: whitesmoke;
  }
  #instructionsClose{
    background: orange;
    font-weight: bold;
    color: white;
    padding: 0.25em 0.5em;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    position: fixed;
  }
  #instructionsClose:hover{
    cursor: pointer;
    background-color: red;
  }
  #instructionsBlock{
    overflow: auto;
    margin-top: 3em;
    height: 70vh;
  }
  #questions{
    height: 90vh;
    width: 90vw;
    margin-left:auto;
    margin-right: auto;
    position: absolute;
    z-index:10;
    top:5%;
    left: 5%;
    background-color: whitesmoke;
    padding: 1em;
  }
  #questionsClose{
    background: orange;
    font-weight: bold;
    color: white;
    padding: 0.25em 0.5em;
    margin-left: 5px;
    margin-top: 10px;
    border: none;
    position: fixed;
  }
  #questionsClose:hover{
    cursor: pointer;
    background-color: red;
  }
  #questionBlock{
    margin-top: 3em;
    overflow: auto;
    height: 70vh;
  }
  .closeBtn{
    height: 3em;
    display: flex;
    justify-content: center;
  }
